
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background: linear-gradient(90deg, #ce0aff36, #09f1cb);
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="max-w-md">
        <div class="bg-white p-8 rounded-lg shadow-md">
            <h1 class="text-2xl font-semibold mb-4">Login</h1>
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-gray-600">Username:</label>
                    <input type="text" id="username" name="username" required class="w-full p-2 border rounded">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">Password:</label>
                    <input type="password" id="password" name="password" required class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300 w-full">Login</button>
            </form>
            <p class="mt-4 text-red-500"><%= message %></p>
            <p class="mt-4">Don't have an account? <a href="/signup" class="text-blue-500 hover:underline">Signup</a></p>
        </div>
    </div>
</body>
</html>
